[submodule "auth"]
	path = auth
	url = https://github.com/sanjib-12/ticketing-auth.git
[submodule "client"]
	path = client
	url = https://github.com/sanjib-12/ticketing-client.git
[submodule "common"]
	path = common
	url = https://github.com/sanjib-12/ticketing-common.git
[submodule "tickets"]
	path = tickets
	url = https://github.com/sanjib-12/ticketing-tickets.git
[submodule "nats-test"]
	path = nats-test
	url = https://github.com/sanjib-12/ticketing-nats-test
